@{
    ViewData["Title"] = "Home Page";
}

<style>

 
    body {
        background-color: #000;
        color: #fff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #00ffcc;
        text-align: center;
        padding: 20px;
    }

    h1 {
        color: #00ffcc;
        font-size: 36px;
    }

    .welcome-content {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    p {
        color: #00ffcc;
        font-size: 20px;
        line-height: 1.5;
    }

    footer {
        text-align: center;
        background-color: #00ffcc;
        padding: 10px;
        color: #000;
        font-size: 14px;
    }

    .navbar {
        background-color: #000;
        color: #00ffcc;
        border-bottom: 2px solid #00ffcc;
    }

    .navbar .navbar-toggler-icon {
            background-color: #00ffcc;
        }

    .navbar a.nav-link {
            color: #00ffcc;
            transition: color 0.3s;
        }

    .navbar a.nav-link:hover {
                color: #fff;
            }


</style>

<main class="welcome-content">
    <h1>Welcome to TowelMart</h1>
    <p>Your source for premium towels</p>
</main>
